@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D84315;    /* Rosso pomodoro */
  --secondary-color: #1B5E20;  /* Verde basilico */
}

body {
  font-family: 'Lato', sans-serif;
}
